# Income Stock

In [134]:
%conda install pandas
%conda install numpy
%pip install yfinance --upgrade --no-cache-dir
%pip install plotly==5.18.0
%conda install scipy
%pip install -U scikit-learn
%pip install pandas_ta
%pip install --upgrade nbformat

Note: you may need to restart the kernel to use updated packages.

Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: yfinance in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (0.2.36)
Requirement already satisfied: pandas>=1.3.0 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from yfinance) (2.2.0)
Requirement already satisfied: numpy>=1.16.5 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from yfinance) (1.26.3)
Requirement already satisfied: requests>=2.31 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from yfinance) (5.1.0)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from yfinance) (2.4.0)
Requirement already satisfied: peewee>=3.16.2 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from yfinance) (3.17.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from requests>=2.31->yfinance) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from requests>=2.31->yfinance) (2.2.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from requests>=2.31->yfinance) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: plotly==5.18.0 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (5.18.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from plotly==5.18.0) (8.2.3)
Requirement already satisfied: packaging in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from plotly==5.18.0) (23.2)
Note: you may need to restart the kernel to use updated packages.

Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: scikit-learn in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (1.4.0)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from scikit-learn) (1.26.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas_ta in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (0.3.14b0)
Requirement already satisfied: pandas in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from pandas_ta) (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from pandas->pandas_ta) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from pandas->pandas_ta) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from pandas->pandas_ta) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandas_ta) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Collecting nbformat
  Downloading nbformat-5.9.2-py3-none-any.whl.metadata (3.4 kB)
Collecting fastjsonschema (from nbformat)
  Downloading fastjsonschema-2.19.1-py3-none-any.whl.metadata (2.1 kB)
Collecting jsonschema>=2.6 (from nbformat)
  Downloading jsonschema-4.21.1-py3-none-any.whl.metadata (7.8 kB)
Requirement already satisfied: jupyter-core in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from nbformat) (4.12.0)
Requirement already satisfied: traitlets>=5.1 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from nbformat) (5.14.1)
Collecting attrs>=22.2.0 (from jsonschema>=2.6->nbformat)
  Downloading attrs-23.2.0-py3-none-any.whl.metadata (9.5 kB)
Collecting jsonschema-specifications>=2023.03.6 (from jsonschema>=2.6->nbformat)
  Downloading jsonschema_specifications-2023.12.1-py3-none-any.whl.metadata (3.0 kB)
Collecting referencing>=0.28.4 (from jsonschema>=2.6->nbformat)
  Downloading referencing-0.33.0-py3-none-any.whl.metadata (2.7 kB)
Collecting rpds-py>=0.7.1 (from jsonschema>=2.6->nbformat)
  Downloading rpds_py-0.17.1-cp39-none-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: pywin32>=1.0 in c:\users\aaron\documents\projects\wqu\financial_markets\gwp1\.conda\lib\site-packages (from jupyter-core->nbformat) (227)
Downloading nbformat-5.9.2-py3-none-any.whl (77 kB)
   ---------------------------------------- 0.0/77.6 kB ? eta -:--:--
   ---------------------------------------- 77.6/77.6 kB ? eta 0:00:00
Downloading jsonschema-4.21.1-py3-none-any.whl (85 kB)
   ---------------------------------------- 0.0/85.5 kB ? eta -:--:--
   ---------------------------------------- 85.5/85.5 kB 5.0 MB/s eta 0:00:00
Downloading fastjsonschema-2.19.1-py3-none-any.whl (23 kB)
Downloading attrs-23.2.0-py3-none-any.whl (60 kB)
   ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
   ---------------------------------------- 60.8/60.8 kB 3.4 MB/s eta 0:00:00
Downloading jsonschema_specifications-2023.12.1-py3-none-any.whl (18 kB)
Downloading referencing-0.33.0-py3-none-any.whl (26 kB)
Downloading rpds_py-0.17.1-cp39-none-win_amd64.whl (206 kB)
   ---------------------------------------- 0.0/206.2 kB ? eta -:--:--
   --------------------------------------- 206.2/206.2 kB 13.1 MB/s eta 0:00:00
Installing collected packages: fastjsonschema, rpds-py, attrs, referencing, jsonschema-specifications, jsonschema, nbformat
Successfully installed attrs-23.2.0 fastjsonschema-2.19.1 jsonschema-4.21.1 jsonschema-specifications-2023.12.1 nbformat-5.9.2 referencing-0.33.0 rpds-py-0.17.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
%conda list

Note: you may need to restart the kernel to use updated packages.

## Introduction

In the stock market, investors have access to three main types of stocks: growth stocks, value stocks, and income stocks. Income stocks, also known as dividend stocks, distinguish themselves by their commitment to continuously paying dividends to shareholders. These income stocks can provide investors with a steady income, which seem to be more attractive to those investors who seeking a reliable source of returns. Regular income from dividends provides a buffer against market fluctuations and provides some predictability and financial security. While income stocks are an attractive option for investors seeking stability, it is important to be aware of potential challenges. The value of an investment can be sensitive to changes in interest rates.   
The income stocks we decide to analyze are :  
-Verizon Communications Inc. (VZ)  
-CVR Energy, Inc. (CVI)  
-The Toronto-Dominion Bank (TD)

In [132]:
import pandas as pd
import numpy as np 
import yfinance as yf
import pandas_ta as ta
from scipy.stats import kurtosis
import plotly.graph_objects as go

## Extract Data

The data was extracted from Yahoo Finance, and time period is from 2020-01-01 to 2024-01-01

In [4]:
start_date = '2020-01-01'
end_date = '2024-01-01'

In [21]:
def extract_security(symbol, start_date='2020-01-01', end_date='2024-01-01'):
    ticker = yf.Ticker(symbol)
    df = ticker.history(start = start_date, end = end_date, period='1d')
    df.reset_index(inplace=True)
    df['Date'] = df['Date'].dt.date
    df['symbol'] = symbol
    return df

### Verizon Communications Inc. (VZ)

In [75]:
df_vz = extract_security('VZ', start_date, end_date)

c:\Users\Aaron\Documents\Projects\WQU\Financial_Markets\GWP1\.conda\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

In [26]:
df_vz.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,symbol
0,2020-01-02,48.864689,48.920416,48.410912,48.601974,11447900,0.0,0.0,vz
1,2020-01-03,48.235773,48.394994,47.821800,48.084515,13263200,0.0,0.0,vz
2,2020-01-06,47.853642,48.235770,47.829760,47.981018,15094500,0.0,0.0,vz
3,2020-01-07,47.845690,47.909380,47.431720,47.447639,14293100,0.0,0.0,vz
4,2020-01-08,47.503353,47.845677,47.471512,47.535198,15926500,0.0,0.0,vz

In [136]:
fig = go.Figure(data=[go.Candlestick(x=df_vz['Date'],
                open=df_vz['Open'],
                high=df_vz['High'],
                low=df_vz['Low'],
                close=df_vz['Close'])])

fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

### CVR Energy, Inc. (CVI)

In [27]:
df_cvi = extract_security('CVI', start_date, end_date)

c:\Users\Aaron\Documents\Projects\WQU\Financial_Markets\GWP1\.conda\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

In [28]:
df_cvi.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,symbol
0,2020-01-02,25.993818,26.205569,25.679404,26.064402,455300,0.0,0.0,CVI
1,2020-01-03,26.064397,26.179896,25.563899,25.910398,763800,0.0,0.0,CVI
2,2020-01-06,25.826986,26.147818,25.608820,25.724319,516900,0.0,0.0,CVI
3,2020-01-07,25.602402,26.218399,25.563901,26.122149,417700,0.0,0.0,CVI
4,2020-01-08,26.109314,26.115732,25.647318,25.692234,521600,0.0,0.0,CVI

### The Toronto-Dominion Bank (TD)

In [29]:
df_td = extract_security('TD', start_date, end_date)

c:\Users\Aaron\Documents\Projects\WQU\Financial_Markets\GWP1\.conda\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

In [30]:
df_td.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,symbol
0,2020-01-02,46.751285,47.008892,46.659879,46.983963,1002400,0.0,0.0,TD
1,2020-01-03,46.734667,46.959030,46.668186,46.942413,773800,0.0,0.0,TD
2,2020-01-06,46.734665,47.091986,46.693113,47.033817,878600,0.0,0.0,TD
3,2020-01-07,46.967334,47.033812,46.784516,46.817757,779200,0.0,0.0,TD
4,2020-01-08,46.784527,47.332978,46.742979,47.091991,1327000,0.0,0.0,TD

## EDA

In [77]:
def compute_daily_return(df, price_name='Close', period=1):
    df['price_with_dividend'] = df[price_name] + df['Dividends']
    df['daily_return'] = df[price_name]/df[price_name].shift(period)-1
    df['daily_return_with_dividends'] = df['price_with_dividend']/df['price_with_dividend'].shift(period)-1
    df.drop(columns=['price_with_dividend'], inplace=True)
    return df

### Verizon Communications Inc. (VZ)

In [86]:
daily_return_vz = compute_daily_return(df_vz, 'Close', 1)

In [87]:
daily_return_vz.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,symbol,daily_return,daily_return_with_dividends
0,2020-01-02,48.864689,48.920416,48.410912,48.601974,11447900,0.0,0.0,VZ,NaN,NaN
1,2020-01-03,48.235773,48.394994,47.821800,48.084515,13263200,0.0,0.0,VZ,-0.010647,-0.010647
2,2020-01-06,47.853642,48.235770,47.829760,47.981018,15094500,0.0,0.0,VZ,-0.002152,-0.002152
3,2020-01-07,47.845690,47.909380,47.431720,47.447639,14293100,0.0,0.0,VZ,-0.011116,-0.011116
4,2020-01-08,47.503353,47.845677,47.471512,47.535198,15926500,0.0,0.0,VZ,0.001845,0.001845

### CVR Energy, Inc. (CVI)

In [88]:
daily_return_cvi = compute_daily_return(df_cvi, 'Close', 1)

In [89]:
daily_return_cvi.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,symbol,daily_return,daily_return_with_dividends
0,2020-01-02,25.993818,26.205569,25.679404,26.064402,455300,0.0,0.0,CVI,NaN,NaN
1,2020-01-03,26.064397,26.179896,25.563899,25.910398,763800,0.0,0.0,CVI,-0.005909,-0.005909
2,2020-01-06,25.826986,26.147818,25.608820,25.724319,516900,0.0,0.0,CVI,-0.007182,-0.007182
3,2020-01-07,25.602402,26.218399,25.563901,26.122149,417700,0.0,0.0,CVI,0.015465,0.015465
4,2020-01-08,26.109314,26.115732,25.647318,25.692234,521600,0.0,0.0,CVI,-0.016458,-0.016458

### The Toronto-Dominion Bank (TD)

In [90]:
daily_return_td = compute_daily_return(df_td, 'Close', 1)

In [91]:
daily_return_td .head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,symbol,daily_return,daily_return_with_dividends
0,2020-01-02,46.751285,47.008892,46.659879,46.983963,1002400,0.0,0.0,TD,NaN,NaN
1,2020-01-03,46.734667,46.959030,46.668186,46.942413,773800,0.0,0.0,TD,-0.000884,-0.000884
2,2020-01-06,46.734665,47.091986,46.693113,47.033817,878600,0.0,0.0,TD,0.001947,0.001947
3,2020-01-07,46.967334,47.033812,46.784516,46.817757,779200,0.0,0.0,TD,-0.004594,-0.004594
4,2020-01-08,46.784527,47.332978,46.742979,47.091991,1327000,0.0,0.0,TD,0.005857,0.005857

### Statistics about returns

In [92]:
def custom_kurtosis(series):
    return kurtosis(series, fisher=False, nan_policy='omit')

In [94]:
df = pd.concat([daily_return_vz, daily_return_cvi, daily_return_td], axis=0)

In [97]:
df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,symbol,daily_return,daily_return_with_dividends
0,2020-01-02,48.864689,48.920416,48.410912,48.601974,11447900,0.0,0.0,VZ,NaN,NaN
1,2020-01-03,48.235773,48.394994,47.821800,48.084515,13263200,0.0,0.0,VZ,-0.010647,-0.010647
2,2020-01-06,47.853642,48.235770,47.829760,47.981018,15094500,0.0,0.0,VZ,-0.002152,-0.002152
3,2020-01-07,47.845690,47.909380,47.431720,47.447639,14293100,0.0,0.0,VZ,-0.011116,-0.011116
4,2020-01-08,47.503353,47.845677,47.471512,47.535198,15926500,0.0,0.0,VZ,0.001845,0.001845

In [95]:
grouped_data = df.groupby('symbol').agg({
    'daily_return': ['mean', 'std', 'skew', custom_kurtosis],
    'daily_return_with_dividends': ['mean', 'std', 'skew', custom_kurtosis]
})

In [96]:
grouped_data

       daily_return                                      \
               mean       std      skew custom_kurtosis
symbol
CVI        0.001089  0.043759  0.917470       11.563275
TD         0.000468  0.018050  0.368473       19.682032
VZ        -0.000178  0.013527  0.308715       10.011783

       daily_return_with_dividends
                              mean       std      skew custom_kurtosis
symbol
CVI                       0.001120  0.044451  0.852113       11.118997
TD                        0.000469  0.018092  0.388214       19.483325
VZ                       -0.000175  0.013741  0.248623        9.631892

In [100]:
len(daily_return_cvi) == len(daily_return_td) == len(daily_return_vz)

True

In [109]:
sum((daily_return_cvi['Date'] == daily_return_vz['Date'])) == len(daily_return_cvi)

True

In [110]:
sum((daily_return_cvi['Date'] == daily_return_td['Date'])) == len(daily_return_cvi)

True

In [111]:
df_concatenated = pd.concat([
    daily_return_vz.add_suffix('_vz'),
    daily_return_cvi.add_suffix('_cvi'),
    daily_return_td.add_suffix('_td')
], axis=1)

In [112]:
df_concatenated.head()

,Date_vz,Open_vz,High_vz,Low_vz,Close_vz,Volume_vz,Dividends_vz,Stock Splits_vz,symbol_vz,daily_return_vz,...,Open_td,High_td,Low_td,Close_td,Volume_td,Dividends_td,Stock Splits_td,symbol_td,daily_return_td,daily_return_with_dividends_td
0,2020-01-02,48.864689,48.920416,48.410912,48.601974,11447900,0.0,0.0,VZ,NaN,...,46.751285,47.008892,46.659879,46.983963,1002400,0.0,0.0,TD,NaN,NaN
1,2020-01-03,48.235773,48.394994,47.821800,48.084515,13263200,0.0,0.0,VZ,-0.010647,...,46.734667,46.959030,46.668186,46.942413,773800,0.0,0.0,TD,-0.000884,-0.000884
2,2020-01-06,47.853642,48.235770,47.829760,47.981018,15094500,0.0,0.0,VZ,-0.002152,...,46.734665,47.091986,46.693113,47.033817,878600,0.0,0.0,TD,0.001947,0.001947
3,2020-01-07,47.845690,47.909380,47.431720,47.447639,14293100,0.0,0.0,VZ,-0.011116,...,46.967334,47.033812,46.784516,46.817757,779200,0.0,0.0,TD,-0.004594,-0.004594
4,2020-01-08,47.503353,47.845677,47.471512,47.535198,15926500,0.0,0.0,VZ,0.001845,...,46.784527,47.332978,46.742979,47.091991,1327000,0.0,0.0,TD,0.005857,0.005857

In [117]:
df_concatenated[['daily_return_cvi', 'daily_return_vz', 'daily_return_td']].corr(method='pearson')

                  daily_return_cvi  daily_return_vz  daily_return_td
daily_return_cvi          1.000000         0.252858         0.523117
daily_return_vz           0.252858         1.000000         0.389550
daily_return_td           0.523117         0.389550         1.000000

In [119]:
df_concatenated[['daily_return_cvi', 'daily_return_vz', 'daily_return_td']].corr(method='spearman')

                  daily_return_cvi  daily_return_vz  daily_return_td
daily_return_cvi          1.000000         0.184151          0.45425
daily_return_vz           0.184151         1.000000          0.37008
daily_return_td           0.454250         0.370080          1.00000

In [121]:
df_concatenated[['daily_return_with_dividends_cvi', 'daily_return_with_dividends_vz', 'daily_return_with_dividends_td']].corr(method='pearson')

,daily_return_with_dividends_cvi,daily_return_with_dividends_vz,daily_return_with_dividends_td
daily_return_with_dividends_cvi,1.000000,0.241921,0.516815
daily_return_with_dividends_vz,0.241921,1.000000,0.392902
daily_return_with_dividends_td,0.516815,0.392902,1.000000

In [123]:
df_concatenated[['daily_return_with_dividends_cvi', 'daily_return_with_dividends_vz', 'daily_return_with_dividends_td']].corr(method='spearman')

,daily_return_with_dividends_cvi,daily_return_with_dividends_vz,daily_return_with_dividends_td
daily_return_with_dividends_cvi,1.000000,0.179172,0.451362
daily_return_with_dividends_vz,0.179172,1.000000,0.376348
daily_return_with_dividends_td,0.451362,0.376348,1.000000

In [124]:
df_concatenated[['daily_return_cvi', 'daily_return_vz', 'daily_return_td']].cov()

                  daily_return_cvi  daily_return_vz  daily_return_td
daily_return_cvi          0.001915         0.000150         0.000413
daily_return_vz           0.000150         0.000183         0.000095
daily_return_td           0.000413         0.000095         0.000326

In [127]:
df_concatenated[['daily_return_with_dividends_cvi', 'daily_return_with_dividends_vz', 'daily_return_with_dividends_td']].cov()

,daily_return_with_dividends_cvi,daily_return_with_dividends_vz,daily_return_with_dividends_td
daily_return_with_dividends_cvi,0.001976,0.000148,0.000416
daily_return_with_dividends_vz,0.000148,0.000189,0.000098
daily_return_with_dividends_td,0.000416,0.000098,0.000327